.rating {
  position: absolute;
  /* top: 90%; */
  /* left: -1%; */
  z-index: 1;
  width: 6em;
}

.genre {
  position: absolute;
  top: 0;
  right: 0;
}

.purchase__wrapper:hover {
  filter: brightness(90%);
}

.language {
  height: 2em !important;
  width: 2em !important;
  opacity: 0.8;
}

.card-image {
  height: 100% !important;
  object-fit: cover;
}

.my-cover-container {
  height: 70%;
}

.book {
  width: 20em;
  height: 30em;
}
