button.owl-next {
  color: white !important;
  font-size: 2vw !important;
  width: 2em;
}

button.owl-prev {
  color: white !important;
  font-size: 2vw !important;
  width: 2em;
}

.owl-item {
  display: flex;
  justify-content: center !important;
}
